<% let flag=true %>
    <% _4proPerLine.forEach((_4pro)=> {%>
        <div class="<%= flag  ? 'item active' : 'item' %>">
            <ul class="thumbnails">
                <% _4pro.forEach((pro, index)=> { %>
                    <li class="span3">
                        <div class="thumbnail">
                            <i class="tag"></i>
                            <a href="productdetail/<%= pro._id %>"><img src="<%= pro.thumbnail_url %>"
                                    alt="<%= pro.name %>"></a>
                            <div class="caption">
                                <h6>
                                    <%= pro.name.substring(0,30) + '...' %>
                                </h6>
                                <h4><a class="btn" href="productdetail/<%= pro._id %>">VIEW</a> <span class="pull-right">
                                        <%let price = moneyConvert(String(pro.price))%> 
                                        <%= price %>đ
                                    </span></h4>
                            </div>
                        </div>
                    </li>
                    <% }); %>
            </ul>
        </div>
        <% flag=false %>
            <% }); %>